__pycache__/
.DS_Store
.directory-path.local.md
.env*
*.env
*.env.*
*.env-*
*.env_*
.envrc
.flaskenv*
.dev.vars*
.direnv/
*.tfvars
*.tfvars.json
*.auto.tfvars
*.auto.tfvars.json
!.env.example
directory-path.env
!directory-path.env.example
